<ng-container *ngIf="!chatId">
  <app-chat-room-info></app-chat-room-info>
</ng-container>
<ng-container  *ngIf="chatId">
<table  style="width: 100%;height: 100%; overflow: hidden;">
  <thead style="width: 100%;background-color: rgb(243,243,243);">
    <header class="msger-header">
      <div class="msger-header-title" style="align-self: center;">
         <div class="chat-nav">
          <img class="msg-img" style="height: 50px; border-radius: 70%;width: 50px;" [src]="userData?.id" (error)="errorImageHandler($event)" >
        </div>
      </div>
      <!-- <div  style="align-self: center;color:black;font-size:30px;">chat room name</div> -->
      <div  style="align-self: center;color:black;font-size:30px;">Start Chatting</div>
      <div class="msger-header-options">

          <button style="background-color: transparent;border: none; padding: 15px;" mat-icon-button [matMenuTriggerFor]="menu" >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu  #menu="matMenu" class="mat-menu-width">
          <button mat-menu-item style="width: 150px;">
            <mat-icon>info</mat-icon>
            <span>info</span>
          </button>

          <button mat-menu-item disabled  style="width: 150px;">
            <mat-icon>notifications_off</mat-icon>
            <span>Disable</span>
          </button>
          <button mat-menu-item style="width: 150px;">
            <mat-icon>exit_to_app</mat-icon>
            <span>leave chat</span>
          </button>
          <button mat-menu-item style="width: 150px;" (click)="closeChat()">
            <mat-icon>clear</mat-icon>
            <span>close</span>
          </button>
        </mat-menu>
      </div>
    </header>

  </thead>
  <tbody style="height: 75%;display: block;overflow: -moz-hidden-unscrollable;width: 100%;">
    <section class="msger" style="display: contents;overflow: scroll;width: 100%;" >
       <ng-container >
      <ng-container *ngIf="chatId">
        <main  class="msger-chat" style="height: 650px" id='chats' #test [scrollTop]="test.scrollHeight" >
          <ng-container *ngFor="let message of messages;let index=index">
              <div [ngClass]="message.senderId==senderId?'msg right-msg':'msg left-msg'">
                <div class="msg-bubble">
                  <div class="msg-info">
                    <div class="msg-info-time">{{message?.date|date}}</div>
                  </div>

                  <div  class="msg-text" *ngIf="message?.type===0" >
                   {{message?.message}}
                  </div>
                  <div  class="msg-text" *ngIf="message?.type===1">
                    <img style="width: 200px;height: 200px;" [src]='message?.message'>
                  </div>
                  <div type="button" (click)="deleteMessage(index)"><mat-icon>delete</mat-icon></div>
                </div>
              </div>
            </ng-container>
        </main>
        </ng-container>
    </ng-container>
    </section>
  </tbody>
  <tfoot style="height: min-content;">
    <ng-container *ngIf="attachmentFile">
      <div style="background-color: white;">
      <table class="table table-stripped">
        <thead>
          <th>File Name</th>
          <th>File</th>
          <th>Action</th>
        </thead>
        <tr>
          <td>{{attachmentFile?.name}}</td>
          <td *ngIf="attachmentFile.isImage"><img style="max-width: 200px;max-height: 200px;" [src]="attachmentFileUrl"></td>
          <td *ngIf="!attachmentFile.isImage">{{attachmentFile?.type}}</td>
          <td type="button" style="color: red;" (click)="attachmentFile=null">X</td>
        </tr>
      </table>
        </div ></ng-container>
        <ng-container >
          <div class="msger-inputarea" >
          <input type="file" style="display: none;outline: none; color: transparent;border: none;" #fileUpload  matTooltip="Info about the action"
          matTooltipPosition="top" (change)="fileAttach($event)" >
          <button type="button" (click)="fileUpload.click()" style="padding:3px;background-color: rgb(0, 196, 65);margin-right: 10px;" >
              <mat-icon style="color: white;padding: 5px;">attach_file</mat-icon>
          </button>
          <input type="text" #message class="msger-input" placeholder="Enter your message...">
          <button *ngIf="!attachmentFile" type="button" class="msger-send-btn" (click)="sendMessage(message,0)">Send</button>
          <button *ngIf="attachmentFile" type="button" class="msger-send-btn" (click)="attchmentUpload()">Send</button>
        </div>
        </ng-container>
  </tfoot>
</table>
</ng-container>


