.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.field-label{
  width: 100px;
  text-align: center;
}
.field-input{
  width: 250px;
  text-align: center;
}
.search-div{
  justify-content: center;
  width:350px;
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: grey;
  border-width: thin;
  overflow: hidden;
}
.profileDivContainer{
  position: relative;
  height: 100px;
  border-radius: 70%;
  width: 100px;
  overflow: hidden;
}
.profileDivContainer-camIcon{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  backdrop-filter: blur(50px);
  color: black;
}
.profileDivContainer-imgTag{
  height: 100px;
  border-radius: 70%;
  width: 100px
}
